{% extends 'base.html' %}

{% block title %}Add Billing{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <h2 class="dashboard-title">Add New Bill</h2>
        <div class="dashboard-section">
            <div class="section-content">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="action-button">Save</button>
                    <a href="{% url 'billing_list' %}" class="action-link">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
