{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <h2 class="form-title">User Profile</h2>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <!-- <p class="message {{ message.tags }}">{{ message }}</p> -->
                {% endfor %}
            </div>
        {% endif %}
        <form method="post" class="profile-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{ user.email }}" class="form-control">
            </div>
            <h3>Change Password</h3>
            {{ password_form.as_p }}
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
    </div>
{% endblock %}
